In [629]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('DataAnalyst.csv')
df.drop(columns=['Company Name', 'Unnamed: 0'], inplace=True)

In [630]:
df

,Job Title,Salary Estimate,Job Description,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

### Convert size to ordinal

In [631]:
company_size = {
    '1 to 50 employees': 1,
    '51 to 200 employees': 2,
    '201 to 500 employees': 3,
    '501 to 1000 employees': 4,
    '1001 to 5000 employees': 5,
    '5001 to 10000 employees': 6,
    '10000+ employees': 7
}
df.Size = df.Size.map(company_size)
df.dropna(subset=['Size'], inplace=True)

### Handle Easy Apply

In [632]:
df['Easy Apply'] = df['Easy Apply'].apply(lambda x: True if x == 'True' else False)

In [633]:
df['Salary Estimate'].unique()

array(['$37K-$66K (Glassdoor est.)', '$46K-$87K (Glassdoor est.)',
       '$51K-$88K (Glassdoor est.)', '$51K-$87K (Glassdoor est.)',
       '$59K-$85K (Glassdoor est.)', '$43K-$76K (Glassdoor est.)',
       '$60K-$110K (Glassdoor est.)', '$41K-$78K (Glassdoor est.)',
       '$45K-$88K (Glassdoor est.)', '$73K-$127K (Glassdoor est.)',
       '$84K-$90K (Glassdoor est.)', '$27K-$52K (Glassdoor est.)',
       '$42K-$74K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)',
       '$98K-$114K (Glassdoor est.)', '$48K-$96K (Glassdoor est.)',
       '$26K-$47K (Glassdoor est.)', '$31K-$59K (Glassdoor est.)',
       '$47K-$81K (Glassdoor est.)', '$43K-$69K (Glassdoor est.)',
       '$49K-$112K (Glassdoor est.)', '$30K-$54K (Glassdoor est.)',
       '$55K-$103K (Glassdoor est.)', '$37K-$70K (Glassdoor est.)',
       '$57K-$103K (Glassdoor est.)', '$35K-$45K (Glassdoor est.)',
       '$42K-$66K (Glassdoor est.)', '$65K-$81K (Glassdoor est.)',
       '$113K-$132K (Glassdoor est.)', '$60K-$66K (Glassdoor est.)',
       '$73K-$82K (Glassdoor est.)', '$67K-$92K (Glassdoor est.)',
       '$42K-$76K (Glassdoor est.)', '$97K-$129K (Glassdoor est.)',
       '$68K-$87K (Glassdoor est.)', '$29K-$38K (Glassdoor est.)',
       '$47K-$76K (Glassdoor est.)', '$74K-$123K (Glassdoor est.)',
       '$53K-$94K (Glassdoor est.)', '$46K-$102K (Glassdoor est.)',
       '$43K-$94K (Glassdoor est.)', '$45K-$78K (Glassdoor est.)',
       '$38K-$68K (Glassdoor est.)', '$37K-$44K (Glassdoor est.)',
       '$64K-$113K (Glassdoor est.)', '$50K-$93K (Glassdoor est.)',
       '$37K-$68K (Glassdoor est.)', '$73K-$89K (Glassdoor est.)',
       '$76K-$122K (Glassdoor est.)', '$60K-$124K (Glassdoor est.)',
       '$34K-$61K (Glassdoor est.)', '$24K-$48K (Glassdoor est.)',
       '$30K-$53K (Glassdoor est.)', '$41K-$86K (Glassdoor est.)',
       '$44K-$82K (Glassdoor est.)', '$48K-$88K (Glassdoor est.)',
       '$44K-$78K (Glassdoor est.)', '$110K-$190K (Glassdoor est.)',
       '$89K-$151K (Glassdoor est.)', '$69K-$127K (Glassdoor est.)',
       '$51K-$93K (Glassdoor est.)', '$58K-$93K (Glassdoor est.)',
       '$63K-$116K (Glassdoor est.)', '$53K-$104K (Glassdoor est.)',
       '$35K-$42K (Glassdoor est.)', '$43K-$77K (Glassdoor est.)',
       '$40K-$72K (Glassdoor est.)', '$50K-$86K (Glassdoor est.)',
       '$35K-$67K (Glassdoor est.)', '$57K-$70K (Glassdoor est.)',
       '$28K-$52K (Glassdoor est.)', '$46K-$86K (Glassdoor est.)',
       '$54K-$75K (Glassdoor est.)', '$53K-$99K (Glassdoor est.)',
       '$40K-$74K (Glassdoor est.)', '$57K-$104K (Glassdoor est.)',
       '$99K-$178K (Glassdoor est.)', '$93K-$159K (Glassdoor est.)',
       '$82K-$116K (Glassdoor est.)', '$65K-$120K (Glassdoor est.)',
       '$47K-$74K (Glassdoor est.)', '$55K-$101K (Glassdoor est.)', '-1',
       '$32K-$56K (Glassdoor est.)', '$36K-$67K (Glassdoor est.)',
       '$57K-$67K (Glassdoor est.)', '$49K-$91K (Glassdoor est.)',
       '$57K-$100K (Glassdoor est.)', '$78K-$104K (Glassdoor est.)'],
      dtype=object)

In [634]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace(' \(Glassdoor est.\)', '').str.replace('$', '').str.replace('K', '').str.replace('-', '').str.strip()
def get_min(x):
    half = (len(str(x))) // 2
    return x[:half]
def get_max(x):
    half = (len(str(x))) // 2
    return x[half:]
df['Min_Estimate'] = df['Salary Estimate'].apply(get_min)
df['Max_Estimate'] = df['Salary Estimate'].apply(get_max)

In [635]:
df[:5]

,Job Title,Salary Estimate,Job Description,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Min_Estimate,Max_Estimate
0,"Data Analyst, Center on Immigration and Justic...",3766,Are you eager to roll up your sleeves and harn...,3.2,"New York, NY","New York, NY",3.0,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,37,66
1,Quality Data Analyst,3766,Overview\n\nProvides analytical and technical ...,3.8,"New York, NY","New York, NY",7.0,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,False,37,66
2,"Senior Data Analyst, Insights & Analytics Team...",3766,We’re looking for a Senior Data Analyst who ha...,3.4,"New York, NY","New York, NY",5.0,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,False,37,66
3,Data Analyst,3766,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,"New York, NY","McLean, VA",3.0,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,False,37,66
4,Reporting Data Analyst,3766,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,"New York, NY","New York, NY",4.0,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,37,66