In [13]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('Income.csv')

In [14]:
df.sort_values(by='medianPerCapitaIncome', ascending=False)[:20].reset_index()

,index,country,medianHouseholdIncome,medianPerCapitaIncome,pop2020
0,1,Norway,51489,19308,5421.241
1,2,Sweden,50514,18632,10099.265
2,0,Luxembourg,52493,18418,625.978
3,4,Denmark,44360,18262,5792.202
4,26,Finland,24615,15725,5540.720
5,5,United States,43585,15480,331002.651
6,6,Canada,41280,15181,37742.154
7,3,Australia,46555,15026,25499.884
8,9,Netherlands,38584,14450,17134.872
9,14,Germany,33333,14098,83783.942
10,18,France,31112,12445,65273.511
11,17,United Kingdom,31617,12399,67886.011
12,12,Austria,34911,12284,9006.398
13,10,New Zealand,35562,12147,4822.233
14,7,South Korea,40861,11950,51269.185
15,13,Japan,33822,10840,126476.461
16,20,Belgium,26703,10189,11589.623
17,11,Hong Kong,35443,9705,7496.981
18,22,Slovenia,25969,8656,2078.938
19,23,Ireland,25085,8048,4937.786